@*@model Vidly.Models.Movie This is used to pass only one Domain model to View*@
@model Vidly.ViewModels.RandomMovieViewModel 
@*Above name space is added because we are passing ViewModel object to View*@
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Movie.Name</h2>

